<div class="header" role="banner">
        {% if pages["_meta"].meta.logo %}
        <div class="logo">
            
                <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" class="logo-img" alt="" />
            </a>
        </div>
        {% endif %}
        <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
            <span class="sr-only">Toggle Menu</span>
        </a>
    </div>
    <div class="nav">
        <div id="nav" role="navigation" tabindex="-1">
            <ul>
                {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        {% if page.title =="Home" %}<i class='fas fa-home'></i>{% endif %}
                        {% if page.title =="About" %}<i class='fas fa-info'></i>{% endif %}
                        {% if page.title =="Analysis" %}<i class='fas fa-chart-bar'></i>{% endif %}
                        {% if page.title =="Gallery" %}<i class='fas fa-image'></i>{% endif %}
                        {% if page.title =="Technology" %}<i class='fas fa-laptop-code'></i>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--
    <div class="site-header">
        <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
            <a href="{{ base_url }}">
                <h1>{{ site_title }}</h1>
                {{ pages["_meta"].meta.tagline|markdown }}
            </a>
        </div> -->

</div>
